@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/*reset de css a html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.text {
    padding-top: 60px;
    text-align: center;
    font: normal normal bold 60px/82px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.logo {
    padding-left: 15px;
}

.header {
    grid-area: header;
}



.color {
    color: white;
}

.titulo {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.col {
    padding: 10px;
}

.cards {
    padding-top: 30px;
    
}


@media (max-width: 993px) {
.responsive-break {
display: block;
}
}



.bgcolor {
    background-color: #E83E8C;
}

